*,
*::before,
*::after {
  box-sizing: border-box;
}

.owl-slider {
  position: relative;
  cursor: default;
}

.owl-slider-handle {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border-radius: 100%;
  cursor: default;
  z-index: 1;
}

.owl-slider-bar {
  position: absolute;
}

.owl-slider-horizontal {
  width: 100%;
  height: .8em;

  .owl-slider-handle {
    top: -.2em;
    margin-left: -.6em;
  }

  .owl-slider-bar {
    left: 0;
    width: 0;
    height: 100%;
  }
}

.owl-slider-vertical {
  height: 100%;
  width: .8em;

  .owl-slider-handle {
    left: -.2em;
    margin-bottom: -.6em;
  }

  .owl-slider-bar {
    bottom: 0;
    width: 100%;
    height: 0;
  }
}

.owl-slider-animate {
  .owl-slider-handle {
    transition: left 300ms, bottom 300ms;
  }

  .owl-slider-bar {
    transition: left 300ms, bottom 300ms, width 300ms, height 300ms;
  }
}